Hespress application/Connected Services/ServiceReference1/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getNews">
        <s:complexType />
      </s:element>
      <s:element name="getNewsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getNewsResult" type="tns:ArrayOfNews_Links" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfNews_Links">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="News_Links" nillable="true" type="tns:News_Links" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="News_Links">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Actualite" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Lien" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getInfos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getInfosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getInfosResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getNewsSoapIn">
    <wsdl:part name="parameters" element="tns:getNews" />
  </wsdl:message>
  <wsdl:message name="getNewsSoapOut">
    <wsdl:part name="parameters" element="tns:getNewsResponse" />
  </wsdl:message>
  <wsdl:message name="getInfosSoapIn">
    <wsdl:part name="parameters" element="tns:getInfos" />
  </wsdl:message>
  <wsdl:message name="getInfosSoapOut">
    <wsdl:part name="parameters" element="tns:getInfosResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="getNews">
      <wsdl:input message="tns:getNewsSoapIn" />
      <wsdl:output message="tns:getNewsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getInfos">
      <wsdl:input message="tns:getInfosSoapIn" />
      <wsdl:output message="tns:getInfosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getNews">
      <soap:operation soapAction="http://tempuri.org/getNews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInfos">
      <soap:operation soapAction="http://tempuri.org/getInfos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getNews">
      <soap12:operation soapAction="http://tempuri.org/getNews" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInfos">
      <soap12:operation soapAction="http://tempuri.org/getInfos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="https://localhost:44376/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="https://localhost:44376/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>